.card{
    /* height: 180px; */
    margin: 10px;
    width: 350px;
}

.typography{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px !important
}

.title{
    font-weight: bold;
}